In [10]:
import pandas as pd
df = pd.read_csv('train_data.csv')
print(df['last_price'].median())
df.head()

5650000.0

,last_price,total_area,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest
0,5400000.0,59.0,2,2.87,4.0,31.5,2,0.0,0.0,0.0,6.6,0.0,20485.0,8180.0
1,13200000.0,109.0,4,3.15,5.0,72.0,2,0.0,0.0,0.0,12.2,0.0,42683.0,8643.0
2,7000000.0,74.5,3,2.58,10.0,49.0,9,0.0,0.0,0.0,10.8,0.0,14078.0,16670.0
3,3200000.0,37.4,1,2.50,9.0,20.0,4,0.0,0.0,0.0,6.2,2.0,17792.0,17699.0
4,6650000.0,64.9,3,2.65,12.0,41.9,11,0.0,0.0,0.0,10.4,0.0,14767.0,10573.0

In [15]:
def price_class(last_price):
    if last_price > 5650000:
        return 1
    else:
        return 0
last_price = df.loc[5, 'last_price']

print(price_class(last_price))

0

In [16]:
df.loc[df['last_price'] > 5650000, 'price_class'] = 1

df.loc[df['last_price'] <= 5650000, 'price_class'] = 0

In [17]:
features =  df.drop(['last_price', 'price_class'], axis=1)
target = df['price_class']

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
model = DecisionTreeClassifier()

model.fit(features, target)
print(model)

DecisionTreeClassifier()

In [26]:
new_features = pd.DataFrame(

    [[900, 12, 2.8, 25, 409.7, 25, 0, 0, 0, 112, 0, 30706.0, 7877.0],

     [109, 2, 2.75, 25, 32, 25, 0, 0, 0, 40.5, 0, 36421.0, 9176.0]],

    columns=features.columns)

In [27]:
new_features.head()

,total_area,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest
0,900,12,2.80,25,409.7,25,0,0,0,112.0,0,30706.0,7877.0
1,109,2,2.75,25,32.0,25,0,0,0,40.5,0,36421.0,9176.0

In [28]:
answers = model.predict(new_features) 
answers

array([1., 0.])

In [24]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

train_data = pd.read_csv('train_data.csv')
test_data = pd.read_csv('test_data.csv').drop(columns=['Unnamed: 0'])


train_data['price_class'] = train_data['last_price'].apply(lambda x: 1 if x > 5650000 else 0)
test_data['price_class'] = test_data['last_price'].apply(lambda x: 1 if x > 5650000 else 0)


features = train_data.drop(['last_price', 'price_class'], axis=1)
target = train_data['price_class']


model = DecisionTreeClassifier(random_state=12345)
model.fit(features, target)


test_features = test_data.drop(['last_price', 'price_class'], axis=1)
test_target = test_data['price_class']


test_predictions = model.predict(test_features)
def error_count(answers, predictions):
    errors = 0
    for i in range(len(answers)):
        if answers[i] != predictions[i]:
            errors += 1
    return errors
print("Ошибок:", error_count(test_target, test_predictions))

Ошибок: 91

In [27]:
def accuracy(answers, predictions):
    correct = 0
    for i in range(len(answers)):
        if answers[i] == predictions[i]:
            correct +=1
    return correct / len(answers) 
print("Accuracy:", accuracy(test_target, test_predictions))

Accuracy: 0.8595679012345679

In [31]:
from sklearn.metrics import accuracy_score 
accuracy = accuracy_score(test_target, test_predictions) 
accuracy

0.8595679012345679

In [42]:
train_predictions = model.predict(features)
accuracy_score(target, train_predictions)

0.8435719784449577

In [54]:
import pandas as pd

from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

df = pd.read_csv('train_data.csv')

df.loc[df['last_price'] > 5650000, 'price_class'] = 1

df.loc[df['last_price'] <= 5650000, 'price_class'] = 0

features = df.drop(['last_price', 'price_class'], axis=1)

target = df['price_class']
best_model = None
best_result = 0

for depth in range(1, 6):

    model = DecisionTreeClassifier(random_state=12345, max_depth=1)
    model.fit(features, target)

    predictions = model.predict(test_features)

    result = accuracy_score(target, train_predictions)

    if result > best_result:

        best_model = model

        best_result = result

print("Accuracy лучшей модели:", best_result)

Accuracy лучшей модели: 0.8435719784449577